<div class="container-fluid">
  <div class="row">
    <div class="table-responsive">
      <table class="table table-bordered table-striped table-sm">
          <thead>
              <tr>
                  <th *ngFor="let row of verticalHeader">{{row}}</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let row of machineState; let rowIndex = index">
                  <th>{{horizontalHeader[rowIndex]}}</th>
                  <td *ngFor="let col of row; let colIndex = index"
                      [@selectedCell]="activeCell(rowIndex, colIndex)">
                      <!-- <input type="text" class="form-control" disabled [(ngModel)]="machineState[rowIndex][colIndex]"> -->
                      {{col}}
                  </td>
              </tr>
          </tbody>
      </table>
    </div>
  </div>
</div>
