<div class="container-fluid">
    <div class="row">
        <table class="table table-bordered table-striped table-sm">
            <thead>
                <tr>
                    <th *ngFor="let row of verticalHeader">{{row}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of machineState; let rowIndex = index">
                    <th>{{horizontalHeader[rowIndex]}}</th>
                    <td *ngFor="let col of row; let colIndex = index">
                        <input type="text" class="form-control" disabled [(ngModel)]="machineState[rowIndex][colIndex]">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
