.banner {
  background: linear-gradient(#80100d, black 80%);
}

/* Banner Logo */
.navbar > div > div > a {
  font-family: Georgia;
  color: white;
}

/* Navbar Links */
.nav > li > a {
  font-family: Georgia;
  color: white;
}

.nav > li > a:hover {
  background: linear-gradient(#A30703, #2E2524 80%);
}
