<div class="container-fluid">
  <div class="row">
    <!-- Machine -->
    <div class="col-xs-12 col-sm-12 col-md-8">
      <div class="row">
        <!-- Machine Controls -->
        <div class="col-xs-12 col-sm-12 col-md-12">
          <div class="btn-group">
            <button class="btn btn-default" (click)="run(speed)">Run</button>
            <button class="btn btn-default" (click)="step()">Step</button>
            <button class="btn btn-default" (click)="stop()">Stop</button>
            <button class="btn btn-default" (click)="assemble()">Assemble</button>
            <button class="btn btn-default" (click)="disassemble()">Disassemble</button>
            <select class="form-control" [(ngModel)]="speed">
              <option *ngFor="let option of speedOptions">{{option}}</option>
            </select>
            <button class="btn btn-default">Reset</button>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- RAM Table -->
        <div class="col-xs-12 col-sm-12 col-md-8">
          <machine-table [(machineState)]="memoryState" [pswIP]="getIP()" [stackPointer]="getSP()" [basePointer]="getBP()"></machine-table>
        </div>
        <!-- Registers -->
        <div class="col-xs-12 col-sm-4 col-md-2">
          <register-table [(registerState)]="registerState" [horizontalHeader]="registerNames"></register-table>
        </div>
        <!-- PSW and Call Stack -->
        <div class="col-xs-12 col-sm-4 col-md-2">
          <div class="row">
            <div class="col-xs-12">
              <register-table [contentSpacing]="2" [horizontalHeader]="pswHorizontalHeader"
                              [(registerState)]="pswState"></register-table>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <call-stack></call-stack>
            </div>
          </div>
        </div>
      </div>
      <!-- Consoles -->
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <console title="Disassembled Console" [content]="content"></console>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <console title="Display Console"></console>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <console title="Memory Error Console"></console>
        </div>
      </div>
    </div>
    <!-- Text Editor -->
    <div class="col-xs-12 col-sm-8 col-md-4">

    </div>
  </div>
</div>
