<div class="container-fluid">
  <div class="row">
    <!-- Machine -->
    <div class="col-xs-12 col-sm-12 col-md-8">
      <div class="row">
        <!-- Machine Controls -->
        <div class="col-xs-12 col-sm-12 col-md-12 well well-sm">
          <div class="btn-group btn-group-justified">
            <div class="btn-group" dropdown>
              <button id="split-button" style="width:80%;" class="btn btn-primary"
                      (click)="run()">
                      Run: {{speed.value}}%
              </button>
              <button type="button" style="width:20%" class="btn btn-primary" dropdownToggle>
                <span class="caret caret-btn"></span>
                <span class="sr-only">Run Speeds</span>
              </button>
              <ul class="dropdown-menu" dropdownMenu role="menu" aria-labelledby="split-button">
                <li *ngFor="let option of speedOptions">
                  <a href="" (click)="setSpeed(option, $event)">{{option}}%</a>
                </li>
              </ul>
            </div>
            <div class="btn-group">
              <button class="btn btn-default" (click)="step()">Step</button>
            </div>
            <div class="btn-group">
              <button class="btn btn-danger" (click)="stop()">Stop</button>
            </div>
            <div class="btn-group">
              <button class="btn btn-default" (click)="assemble()">Assemble</button>
            </div>
            <div class="btn-group">
              <button class="btn btn-default" (click)="disassemble()">Disassemble</button>
            </div>
            <div class="btn-group">
              <button class="btn btn-danger" (click)="reset()">Reset</button>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- RAM Table -->
        <div class="col-xs-12 col-sm-12 col-md-8">
          <machine-table [machineState]="memoryState" [pswIP]="getIP()" [stackPointer]="getSP()" [basePointer]="getBP()"></machine-table>
        </div>
        <!-- Registers -->
        <div class="col-xs-12 col-sm-4 col-md-2">
          <register-table [registerState]="registerState" [horizontalHeader]="registerNames"></register-table>
        </div>
        <!-- PSW and Call Stack -->
        <div class="col-xs-12 col-sm-4 col-md-2">
          <div class="row">
            <div class="col-xs-12">
              <register-table [contentSpacing]="2" [horizontalHeader]="pswHorizontalHeader"
                              [registerState]="pswState"></register-table>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <call-stack></call-stack>
            </div>
          </div>
        </div>
      </div>
      <!-- Consoles -->
      <div class="row">

      </div>
    </div>
    <!-- Text Editor -->
    <div class="col-xs-12 col-sm-8 col-md-4">
        <text-editor [userInput]="srcCode" (emitUserInput)="onTextEditorUpdate($event)"></text-editor>
    </div>
  </div>
</div>
